.searchForm {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    margin: 20px 0; /* Add margin for spacing */
  }
  
  .searchInput {
    padding: 10px;
    font-size: 16px;
    width: 300px; /* Adjust width as needed */
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px; /* Space between input and button */
  }
  
  .searchButton {
    padding: 10px 20px;
    font-size: 16px;
  }
  